body {
  background-image: url("kitchen.jpg");
  background-size: cover;
  text-align: center;
}

.Title {
  font-family: monospace;
  font-size: 66px;
}

.butions {
  background-color: black;
  color: white;
  font-size: 30px;
}

.butionBar {
  background-color: black;
}

.butions:hover {
  background-color: white;
  color: black;
  font-size: 30px;
  margin-left: -5px;
  margin-right: -5px;
}

.butions:focus {
  background-color: #ffa81d;
  color: black;
  font-size: 30px;
  margin-left: -5px;
  margin-right: -5px;
}